<section *ngIf="isMobile$ | async" class="pb-4 border-b border-gray-700">
  <app-profil-card></app-profil-card>
</section>

<section class="about-section rounded-lg shadow-md mt-4 text-gray-800">
  <h1 class="text-3xl font-bold mb-4 text-white">About Me</h1>
  <p class="mb-6 text-white">
    Hi, I'm a passionate web developer with a love for crafting intuitive and responsive web applications.
    I specialize in front-end technologies such as Angular and React, with experience in back-end development using Node.js and Express.
  </p>
  <p class="mb-6 text-white">
    I'm always eager to learn new technologies and improve my skills, constantly pushing the boundaries of what's possible on the web.
    When I'm not coding, you can find me exploring new tech, reading, or spending time in nature.
  </p>
  <p class="mb-6 text-white">
    If you're looking for a dedicated developer to bring your project to life, feel free to reach out!
  </p>
</section>
