<div class="bg-gray-900 text-white  p-4 sm:p-6 rounded-lg shadow-lg lg:border border-gray-600 max-w-xs sm:max-w-sm mx-auto">
  <!-- Avatar Section -->
  <div class="flex justify-center mb-4">
      <img class="rounded-lg border-2 border-gray-700  w-32 h-32 sm:w-44 sm:h-44" src="assets/img/avatarprofile.webp" alt="Avatar">
  </div>

  <!-- Name and Role -->
  <div class="text-center">
    <h2 class="text-xl sm:text-2xl font-bold mb-2">Mickael DALLE PASQUALINE</h2>
    <p class="bg-gray-800 text-white py-2 px-3 rounded-lg inline-block text-xs sm:text-sm border border-gray-600 ">Développeur Web Junior</p>
  </div>

  <!-- Social Icons -->
  <div class="flex justify-center space-x-3 sm:space-x-4 my-4">
    <a href="https://www.linkedin.com/in/mickael-dalle-pasqualine/" target="_blank" class="hover:text-blue-500">
      <i class="fab fa-linkedin text-xl sm:text-2xl"></i>
    </a>
    <a href="https://github.com/Mickael-DP" target="_blank" class="hover:text-gray-950 ">
      <i class="fab fa-github text-xl sm:text-2xl"></i>
    </a>
  </div>

  <!-- Contact Info -->
  <div class="bg-gray-800 p-3 sm:p-4 rounded-lg mb-4 space-y-1 sm:space-y-2 text-white text-sm sm:text-base">
    <p class="flex items-center border-b border-gray-700  xl:pb-4 pb-2">
      <a href="tel:+33622224415" class="flex items-center">
        <i class="fas fa-phone-alt mr-4"></i> +33 6 22 22 44 15
      </a>
    </p>
    
    <p class="flex items-center border-b border-gray-700  xl:pb-4 pb-2 pt-1">
      <a href="mailto:m.dallepasqualine@gmail.com" class="flex items-center">
        <i class="fas fa-envelope mr-4"></i> m.dallepasqualine&#64;gmail.com
      </a>
    </p>
    

    <p class="flex items-center border-b border-gray-700  xl:pb-4 pb-2 pt-1">
      <i class="fas fa-map-marker-alt mr-4"></i> Pégomas, Alpes-maritimes, France
    </p>

    <p class="flex items-center">
      <i class="fas fa-calendar-alt mr-4"></i> 02, FEV. 1994
    </p>
  </div>

 
</div>
