<div class="bg-gray-900 text-white p-6 rounded-lg shadow-lg border  border-gray-600 max-w-sm mx-auto">
    <!-- Avatar Section -->
    <div class="flex justify-center mb-4">
        <img class="rounded-lg border-2 border-gray-700 w-44 h-44" src="assets/img/avatarprofile.png" alt="Avatar">

    </div>
  
    <!-- Name and Role -->
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-2">Mickael DALLE PASQUALINE</h2>
      <p class="bg-gray-800 text-white-600 py-1 px-3 rounded-lg inline-block text-sm">Développeur Web Junior</p>
    </div>
  
    <!-- Social Icons -->
    <div class="flex justify-center space-x-4 my-4">
      <a href="https://linkedin.com" target="_blank" class="hover:text-yellow-300">
        <i class="fab fa-linkedin text-2xl"></i>
      </a>
      <a href="https://github.com" target="_blank" class="hover:text-yellow-300">
        <i class="fab fa-github text-2xl"></i>
      </a>
    </div>
  
<!-- Contact Info -->
<div class="bg-gray-800 p-4 rounded-lg mb-4 space-y-2 text-white">
  <p class="flex items-center border-b border-gray-700 pb-2 mb-2">
    <i class="fas fa-phone-alt mr-2"></i> +33 6 22 22 44 15
  </p>
  
  <p class="flex items-center border-b border-gray-700 pb-2 mb-2">
    <i class="fas fa-envelope mr-2"></i> m.dallepasqualine&#64;gmail.com
  </p>
  
  <p class="flex items-center border-b border-gray-700 pb-2 mb-2">
    <i class="fas fa-map-marker-alt mr-2"></i> Pégomas, Alpes-maritimes, France
  </p>
  
  <p class="flex items-center">
    <i class="fas fa-calendar-alt mr-2"></i> 02, FEV. 1994
  </p>
</div>

  
    <!-- View Resume Button -->
    <div class="text-center">
      <button class="bg-gray-800 hover:bg-gray-600 text-white-900 font-bold py-2 px-6 rounded-lg shadow-md transition duration-300">
        View Resume
      </button>
    </div>
  </div>
  