<!-- Barre de navigation pour le mode bureau -->
<nav
*ngIf="isDesktop$ | async"
  class="side-bar bg-gray-900 h-auto p-6 border border-gray-600 shadow-lg hidden lg:flex flex-col"
>
  <ul class="space-y-4">
    <li routerLink="/about" routerLinkActive="bg-gray-600" [routerLinkActiveOptions]="{ exact: true }"
        class="bg-gray-800 hover:bg-gray-600 text-gray-400 rounded-lg p-4 shadow-md transition duration-300">
      <a routerLink="/about" routerLinkActive=" text-gray-900" class="flex flex-col items-center justify-center text-center space-y-2 text-gray-400 hover:text-gray-900 w-full h-full">
        <i class="fas fa-user text-2xl"></i>
        <span>A Propos</span>
      </a>
    </li>
    <li  routerLink="/experience" routerLinkActive="bg-gray-600" [routerLinkActiveOptions]="{ exact: true }"
        class="bg-gray-800 hover:bg-gray-600 text-gray-400 rounded-lg p-4 shadow-md transition duration-300">
      <a routerLink="/experience" routerLinkActive=" text-gray-900" class="flex flex-col items-center justify-center text-center space-y-2 text-gray-400 hover:text-gray-900 w-full h-full">
        <i class="fas fa-briefcase text-2xl"></i>
        <span>Expérience</span>
      </a>
    </li>
    <li routerLink="/projects" routerLinkActive="bg-gray-600" [routerLinkActiveOptions]="{ exact: true }"
        class="bg-gray-800 hover:bg-gray-600 text-gray-400 rounded-lg p-4 shadow-md transition duration-300">
      <a routerLink="/projects" routerLinkActive=" text-gray-900" class="flex flex-col items-center justify-center text-center space-y-2 text-gray-400 hover:text-gray-900 w-full h-full">
        <i class="fas fa-code text-2xl"></i>
        <span>Projets</span>
      </a>
    </li>
    <li routerLink="/skills" routerLinkActive="bg-gray-600" [routerLinkActiveOptions]="{ exact: true }"
        class="bg-gray-800 hover:bg-gray-600 text-gray-400 rounded-lg p-4 shadow-md transition duration-300">
      <a routerLink="/skills" routerLinkActive="text-gray-900" class="flex flex-col items-center justify-center text-center space-y-2 text-gray-400 hover:text-gray-900 w-full h-full">
        <i class="fas fa-cogs text-2xl"></i>
        <span>Skills</span>
      </a>
    </li>
    <li routerLink="/contact" routerLinkActive="bg-gray-600" [routerLinkActiveOptions]="{ exact: true }"
        class="bg-gray-800 hover:bg-gray-600 text-gray-400 rounded-lg p-4 shadow-md transition duration-300">
      <a routerLink="/contact" routerLinkActive=" text-gray-900" class="flex flex-col items-center justify-center text-center space-y-2 text-gray-400 hover:text-gray-900 w-full h-full">
        <i class="fas fa-envelope text-2xl"></i>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Barre de navigation pour le mode mobile -->
<nav
*ngIf="isHandheld$ | async"
  class="side-bar fixed bottom-0 left-0 right-0 mt-10 bg-gray-900 border-t border-gray-600 shadow-lg p-2 lg:hidden"
>
  <ul class="flex justify-around w-full">
    <li routerLinkActive="text-gray-400" [routerLinkActiveOptions]="{ exact: true }"
        class="flex-1 text-gray-400 rounded-lg p-3 sm:p-4 shadow-md transition duration-300 mx-1">
      <a routerLink="/about" class="flex flex-col items-center justify-center text-center text-gray-400 hover:text-white w-full h-full">
        <i class="fas fa-user text-xl"></i>
        <span class="text-xs mt-2">Profil</span>
      </a>
    </li>
    <li routerLinkActive="text-gray-400" [routerLinkActiveOptions]="{ exact: true }"
        class="flex-1 text-gray-400 rounded-lg p-3 sm:p-4 shadow-md transition duration-300 mx-1">
      <a routerLink="/experience" class="flex flex-col items-center justify-center text-center text-gray-400 hover:text-white w-full h-full">
        <i class="fas fa-briefcase text-xl"></i>
        <span class="text-xs mt-2">Expérience</span>
      </a>
    </li>
    <li routerLinkActive="text-gray-400" [routerLinkActiveOptions]="{ exact: true }"
        class="flex-1 text-gray-400 rounded-lg p-3 sm:p-4 shadow-md transition duration-300 mx-1">
      <a routerLink="/projects" class="flex flex-col items-center justify-center text-center text-gray-400 hover:text-white w-full h-full">
        <i class="fas fa-code text-xl"></i>
        <span class="text-xs mt-2">Projet</span>
      </a>
    </li>
    <li routerLinkActive="text-gray-400" [routerLinkActiveOptions]="{ exact: true }"
        class="flex-1 text-gray-400 rounded-lg p-3 sm:p-4 shadow-md transition duration-300 mx-1">
      <a routerLink="/skills" class="flex flex-col items-center justify-center text-center text-gray-400 hover:text-white w-full h-full">
        <i class="fas fa-cogs text-xl"></i>
        <span class="text-xs mt-2">Skills</span>
      </a>
    </li>
    <li routerLinkActive="text-gray-400" [routerLinkActiveOptions]="{ exact: true }"
        class="flex-1 text-gray-400 rounded-lg p-3 sm:p-4 shadow-md transition duration-300 mx-1">
      <a routerLink="/contact" class="flex flex-col items-center justify-center text-center text-gray-400 hover:text-white w-full h-full">
        <i class="fas fa-envelope text-xl"></i>
        <span class="text-xs mt-2">Contact</span>
      </a>
    </li>
  </ul>
</nav>




